# Introduction
The aim of this project is to conduct a sentiment analysis using python and twitter's API. The topic in my case is Expo 2020.

**What is Expo 2020?**
> Initiated in London 1851. It is a global gathering aimed to find solutions to challenges imposed by the current times. Aims  to create enriching and immersive experience. World expo traverses through different cities each time. It also revolves around certain themes. Currently, World expo is taking place in Dubai, UAE. Between Oct, 2021 and Mar, 2022. For more information please visit [expo2020dubai](https://www.expo2020dubai.com/)

**The goal of this project**
> As discussed above the main goal is to conduct a sentiment analysis and learn the basics of data science and big data projects. Since expo 2020 is considered an educational exhibition that revolves around modern day problems and is hosted currently in the middle east. The aim is to measure the awareness of the arab society - *By arab society we mean anyone who posts their opinions in arabic*



This part is about preprocessing the data. we will preform quality assessments and handle any data problems that is found.

In [2]:
import pandas as pd
import numpy as np
import pyarabic.araby as araby

### 1. Read the Data 
--- 
It is required to first read the data and ensure that it has ben parsed correctly. the following code block will read and store the .csv file into a data frame that we will clean up accordingly.

In [3]:
dirty_tweets = pd.read_csv('tweets_updated.csv')
display(dirty_tweets.head())
display(dirty_tweets.tail())

,index,ID,Tweet,Timestamp,Likes,Retweets,Length
0,0,1497300372569739264,Ù‚Ø¨ÙŠÙ„ Ø§Ù„Ø§Ø­ØªÙØ§Ù„ Ø¨Ù€ #Ø§Ù„ÙŠÙˆÙ…_Ø§Ù„Ø¯ÙˆÙ„ÙŠ_Ù„Ù„Ù…Ø±Ø£Ø©.. ØªØ³ØªØ¹Ø¯ ...,2022-02-25 20:00:01+00:00,1,0,198
1,1,1497299670522994691,#JIMMY_4040 \nÙ„Ø­Ø¸Ø§Øª Ù†Ø²ÙˆÙ„ Ø¯Ø§Ø¨Ø§Ù†Øº Ø³Ù„Ù…Ø§Ù† Ø®Ø§Ù† Ø¹Ù„Ù‰ ...,2022-02-25 19:57:14+00:00,2,0,207
2,2,1497297255245754371,Ù„ÙŠÙ„Ø© Ù…Ù…ÙŠØ²Ø© Ø¨Ø¥Ù†ØªØ¸Ø§Ø±Ù†Ø§ ÙÙŠ @expo2020dubai ÙŠÙˆÙ… Ù¢Ù¦ ...,2022-02-25 19:47:38+00:00,0,0,232
3,3,1497295489481510914,@NancyAFashion Ø£ØµØ¯Ù‚ Ø§ÙŠ Ø­ÙÙ„Ø© Ø§Ø­Ù„Ù‰ ÙˆÙ„Ø§ Ø§ÙŠ ÙØ³ØªØ§Ù† ...,2022-02-25 19:40:37+00:00,3,1,168
4,4,1497290589800480779,#JIMMY_4040 \nØ¬Ù†ÙˆÙ† Ù…Ø§ Ø¨Ø¹Ø¯Ù‡ Ø¬Ù†ÙˆÙ† Ø¯Ø§Ø¨Ø§Ù†Øº Ø³Ù„Ù…Ø§Ù† Ø®...,2022-02-25 19:21:09+00:00,5,2,178

,index,ID,Tweet,Timestamp,Likes,Retweets,Length
12470,12470,1509875727558189057,Ø¨Ø¹Ø¯ ØªÙˆØ¯ÙŠØ¹ Ø¢Ø®Ø± Ø¶ÙŠÙˆÙ Ø§Ù„Ø­Ø¯Ø« Ø§Ù„Ø¯ÙˆÙ„ÙŠ ÙˆØ¥Ø³Ø¯Ø§Ù„ Ø§Ù„Ø³ØªØ§Ø± ...,2022-04-01 12:50:00+00:00,0,0,192
12471,12471,1509875571114795011,Ø¬Ù†Ø§Ø­ Ø§Ù„Ø³Ø¹ÙˆØ¯ÙŠØ© ÙŠØ®ØªØªÙ… ÙØ¹Ø§Ù„ÙŠØ§ØªÙ‡ ÙÙŠ Ù…Ø¹Ø±Ø¶ â€œØ¥ÙƒØ³Ø¨Ùˆ 20...,2022-04-01 12:49:22+00:00,0,0,109
12472,12472,1509875169782865932,#Ø¥ÙƒØ³Ø¨Ùˆ_2020_Ø¯Ø¨ÙŠ ÙŠØ®ØªØªÙ… Ø£Ø¹Ù…Ø§Ù„Ù‡ Ø¨Ø£Ù‡Ù… Ø§Ù„Ù…Ø¤ØªÙ…Ø±Ø§Øª Ø§Ù„...,2022-04-01 12:47:47+00:00,7,0,196
12473,12473,1509874863539998768,"Ù†Ø¸Ù…Øª Ø§Ù„Ø¥Ø¯Ø§Ø±Ø© Ø§Ù„Ø¹Ø§Ù…Ø© Ù„Ø£Ù…Ù† Ø§Ù„Ù…Ø·Ø§Ø±Ø§Øª ÙˆÙ…Ø¨Ø§Ø¯Ø±Ø© ""Ø§Ù„Ø±...",2022-04-01 12:46:34+00:00,1,0,221
12474,12474,1509874781964980273,Ø®ØªØ§Ù…Ù‡Ø§ Ù…Ø³Ùƒ..Ø¬Ù†Ø§Ø­ #Ø§Ù„Ù…Ù…Ù„ÙƒØ© ÙÙŠ #Ø§ÙƒØ³Ø¨Ùˆ_Ù¢Ù Ù¢Ù #Ø¯Ø¨ÙŠ ...,2022-04-01 12:46:14+00:00,1,0,169

### 1. Asses Duplicates
---
We will be assessing both duplicates and null vallues and based on our observation we will conduct the proper cleaning process
> We will find the duplicates of the tweets column only, since the other columns are gaurnteed to have duplicates and they are simply metadata. The function gets the duplicate rows without the first occurunce. we will then sum and check how much of our data is duplicated.

In [4]:
# Issue 1 - Duplicates
duplicate_tweets = dirty_tweets[dirty_tweets.duplicated(['Tweet'], keep='first')]
display(duplicate_tweets.tail())

print(f'the number of duplicates is {duplicate_tweets.shape[0]}')

,index,ID,Tweet,Timestamp,Likes,Retweets,Length
12453,12453,1509881814986412045,Ø´ÙÙˆÙÙˆ Ø²Ø¹ÙÙŠÙ… Ø­ÙØ¶Ù†Ù‡Ø¢ ÙƒÙÙŠÙ Ø®Ù„Ø¢Ù‡Ø¢ ğŸ‡¦ğŸ‡ªâ¤ï¸\n\nØ§ÙƒØ³Ø¨Ùˆ Ù¢Ù ...,2022-04-01 13:14:11+00:00,0,0,101
12454,12454,1509881803401801728,@HHShkMohd Ù…Ø¨Ø§Ø±Ùƒ Ø·ÙˆÙŠÙ„ Ø§Ù„Ø¹Ù…Ø± Ù‡Ø°Ø§ Ø§Ù„Ø¥Ù†Ø¬Ø§Ø² Ø§Ù„ÙƒØ¨ÙŠØ±...,2022-04-01 13:14:08+00:00,0,0,130
12457,12457,1509878788221513734,#Ø§Ù„Ø¥Ù…Ø§Ø±Ø§Øª_ØªØ¨ØªÙƒØ± ØªÙƒØ±Ù… Ø£ÙØ¶Ù„ Ø§Ù„Ø§Ø¨ØªÙƒØ§Ø±Ø§Øª ÙÙŠ Ø§Ù„Ø£Ø¬Ù†Ø­...,2022-04-01 13:02:09+00:00,2,0,128
12464,12464,1509877148550586373,@alkhaleej @expo2020dubai Ø§Ù†ØµØµØµØµØµØ¯Ù…Øª Ø§Ù†Ù‡ Ø¨Ø³ Ù‡Ø§...,2022-04-01 12:55:39+00:00,0,0,140
12470,12470,1509875727558189057,Ø¨Ø¹Ø¯ ØªÙˆØ¯ÙŠØ¹ Ø¢Ø®Ø± Ø¶ÙŠÙˆÙ Ø§Ù„Ø­Ø¯Ø« Ø§Ù„Ø¯ÙˆÙ„ÙŠ ÙˆØ¥Ø³Ø¯Ø§Ù„ Ø§Ù„Ø³ØªØ§Ø± ...,2022-04-01 12:50:00+00:00,0,0,192

the number of duplicates is 4493

In [7]:
# Issue 1 - Fix
dirty_tweets = dirty_tweets.drop_duplicates(subset='Tweet', keep="first")
dirty_tweets = dirty_tweets.reset_index(drop=True)
dirty_tweets = dirty_tweets.drop(['index'], axis=1)
display(dirty_tweets.tail())
print("Length", dirty_tweets.shape[0])

,ID,Tweet,Timestamp,Likes,Retweets,Length
7977,1509875797544378374,Ø¹Ù…Ø§Ù† Ø§Ù„Ù…Ø¬Ø¯ ÙˆØ§Ù„ØªØ§Ø±ÙŠØ®\nÙˆØ§Ù„ØªÙ‚Ø¯Ù… Ø§Ù„Ø¹Ù„Ù…ÙŠ ÙˆØ­ØµÙˆÙ„\nØ§Ù„Ø³...,2022-04-01 12:50:16+00:00,0,0,112
7978,1509875571114795011,Ø¬Ù†Ø§Ø­ Ø§Ù„Ø³Ø¹ÙˆØ¯ÙŠØ© ÙŠØ®ØªØªÙ… ÙØ¹Ø§Ù„ÙŠØ§ØªÙ‡ ÙÙŠ Ù…Ø¹Ø±Ø¶ â€œØ¥ÙƒØ³Ø¨Ùˆ 20...,2022-04-01 12:49:22+00:00,0,0,109
7979,1509875169782865932,#Ø¥ÙƒØ³Ø¨Ùˆ_2020_Ø¯Ø¨ÙŠ ÙŠØ®ØªØªÙ… Ø£Ø¹Ù…Ø§Ù„Ù‡ Ø¨Ø£Ù‡Ù… Ø§Ù„Ù…Ø¤ØªÙ…Ø±Ø§Øª Ø§Ù„...,2022-04-01 12:47:47+00:00,7,0,196
7980,1509874863539998768,"Ù†Ø¸Ù…Øª Ø§Ù„Ø¥Ø¯Ø§Ø±Ø© Ø§Ù„Ø¹Ø§Ù…Ø© Ù„Ø£Ù…Ù† Ø§Ù„Ù…Ø·Ø§Ø±Ø§Øª ÙˆÙ…Ø¨Ø§Ø¯Ø±Ø© ""Ø§Ù„Ø±...",2022-04-01 12:46:34+00:00,1,0,221
7981,1509874781964980273,Ø®ØªØ§Ù…Ù‡Ø§ Ù…Ø³Ùƒ..Ø¬Ù†Ø§Ø­ #Ø§Ù„Ù…Ù…Ù„ÙƒØ© ÙÙŠ #Ø§ÙƒØ³Ø¨Ùˆ_Ù¢Ù Ù¢Ù #Ø¯Ø¨ÙŠ ...,2022-04-01 12:46:14+00:00,1,0,169

Length 7982

In [9]:
# Issue 2 - Fix
def remove_diacritics(tweet):
    tweet = araby.strip_diacritics(tweet)
    tweet = araby.strip_tashkeel(tweet)
    tweet = araby.strip_tatweel(tweet)
    tweet = araby.normalize_alef(tweet)
    tweet = araby.normalize_hamza(tweet)
    tweet = araby.normalize_ligature(tweet)
    return tweet

Ø§Ø¹Ù…Ø§Ù„

In [11]:

def clean_up(tweet):
    tweet = remove_diacritics(tweet)

In [20]:
dirty_tweets = dirty_tweets.apply(lambda x: remove_diacritics(x) if x.name == 'Tweet' else x, axis=0)
# dirty_tweets['Tweet'] = dirty_tweets['Tweet'].apply(lambda x: clean_up(x))

In [21]:
display(dirty_tweets.head(20))

,ID,Tweet,Timestamp,Likes,Retweets,Length
0,1497300372569739264,None,2022-02-25 20:00:01+00:00,1,0,198
1,1497299670522994691,None,2022-02-25 19:57:14+00:00,2,0,207
2,1497297255245754371,None,2022-02-25 19:47:38+00:00,0,0,232
3,1497295489481510914,None,2022-02-25 19:40:37+00:00,3,1,168
4,1497290589800480779,None,2022-02-25 19:21:09+00:00,5,2,178
5,1497289658564284418,None,2022-02-25 19:17:27+00:00,2,0,163
6,1497288641428824073,None,2022-02-25 19:13:25+00:00,4,1,147
7,1497284121957060608,None,2022-02-25 18:55:27+00:00,7,2,251
8,1497273383461007364,None,2022-02-25 18:12:47+00:00,1,0,277
9,1497270659688407044,None,2022-02-25 18:01:57+00:00,0,0,199
10,1497270174403149831,None,2022-02-25 18:00:02+00:00,0,0,145
11,1497269266235727879,None,2022-02-25 17:56:25+00:00,1,1,303
12,1497266644024016897,None,2022-02-25 17:46:00+00:00,9,4,178
13,1497265188189442055,None,2022-02-25 17:40:13+00:00,4,2,138
14,1497261348975165445,None,2022-02-25 17:24:58+00:00,3,3,169
15,1497259033505550337,None,2022-02-25 17:15:45+00:00,6,4,146
16,1497255799181262848,None,2022-02-25 17:02:54+00:00,5,0,250
17,1497247520585437185,None,2022-02-25 16:30:01+00:00,0,0,209
18,1497244619939188739,None,2022-02-25 16:18:29+00:00,5,1,129
19,1497238464412139521,None,2022-02-25 15:54:01+00:00,0,0,303